<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>КУБ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cub/base.css' %}">
    {% load static %}
    <script src="{% static 'cub/jquery.js' %}"></script>
    {% load static %}
    <script src="{% static 'cub/jquery.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'cub/jQueryRotate.js' %}"></script>
</head>
    <body>
        <div class="div_1">
            <div id="first" class="div_2">
                <div class="div_3"></div>
            </div>
            <div class="div_201"></div>
            <div class="div_202"></div>
            <div class="div_203"></div>
            <div class="div_204"></div>
        </div>
	    <div class="div_menu">
            <form method="POST" name="xy_eat">
                {% csrf_token %}
                <a>x</a><input type="text" class="in_x">
                <a>y</a><input type="text" class="in_y">
                <a> (set eats)</a>
                <div class="bt_del">del</div>
                <div class="bt_add">add</div>
	        </form>
            <form method="POST" class="log-form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="save btn btn-default">Add edge</button>
            </form>
	    <div class="stop">stop</div><div class="start">start</div>
        </div>
        <div>
            <div id="div_plot" class="div_plot"></div>
        </div>
    </body>
<script>
    var str = 0;
    var s11;
    const roomName = 'lobby'
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    $.ajax({
        url: '/stop/',
        dataType: 'json',
        success: function(data){
                console.log(data);
             }
    });
    str = 0;
    /*********  кнопки старт/стоп  ************/
    $('.start').click(function () {
    	console.log('start');
    	if (str == 0) {
    		$.ajax({
        		url: '/start/',
        		dataType: 'json',
        		success: function(data){
        		//console.log(data);
        	       		 }
        	});
    		str = 1;
    	};
    });
    $('.stop').click(function () {
    	$.ajax({
        	url: '/stop/',
        	dataType: 'json',
        	success: function(data){
        			console.log(data);
        		 }
        });
    	str = 0;
    });

    /*******  график зрения  *********/
    var n = 60;
    for (var i = 0; i < n; i++) {
        var elem = document.getElementById('div_plot');
        var div = document.createElement('div');
        div.className = "div_band";
        elem.parentNode.appendChild(div, elem);
        var plot_x = 1200 + 198 / (n - 1) * i + 'px';
        var plot_y = 100 + 'px';
        var plot_top = 400 + 'px';
        div.style.left = plot_x;
        div.style.height = plot_y;
        div.style.top = plot_top;
    };
    /*******  начальные данные  *********/  

    $(".div_2").rotate(90);
    var xx = 0;
    var yy = 0;
    var rr = 0;
    var s11 = [];
    var pp11 = -1;
    var pp12 = -1;
    var pp21 = -1;
    var pp22 = -1;
    var pp31 = -1;
    var pp32 = -1;
    var pp41 = -1;
    var pp42 = -1;
    $.ajax({
        url: '/json/',
        dataType: 'json',
        success: function(data){
                     xx = data.x;
                     yy = data.y;
                     rr = data.r;
                     s11 = data.plot;
                 }
    });
    /*********  основной цикл  ************/
    chatSocket.onmessage = function(e) {
        const data_a = JSON.parse(e.data);
        data = JSON.parse(data_a.message)
        //document.querySelector('#chat-log').value += (data.message + '\n');
        if (str == 1) {
            xx = data.x;
            yy = data.y;
            rr = data.r;
            pp11 = data.dots_x1;
            pp12 = data.dots_y1;
            pp21 = data.dots_x2;
            pp22 = data.dots_y2;
            pp31 = data.dots_x3;
            pp32 = data.dots_y3;
            pp41 = data.dots_x4;
            pp42 = data.dots_y4;
            s11 = data.plot;
            $(".div_2").css({top: yy, left: xx});
            $(".div_201").css({top: pp12, left: pp11});
            $(".div_202").css({top: pp22, left: pp21});
            $(".div_203").css({top: pp32, left: pp31});
            $(".div_204").css({top: pp42, left: pp41});
            $(".div_2").rotate(rr + 90);
            var n = 60;
            for (var i = 0; i < n; i++) {
                var elem = document.getElementById('div_plot').parentNode.children;
                var div = elem[i+1];
                var plot_y = s11[i * 2]/1200*200 + 'px';
                var plot_top = 300 + 200 - s11[i * 2]/1200*200 + 'px';
                div.style.height = plot_y;
                div.style.top = plot_top;
            }; 
        };
    };
    /********  загрузка еды  ****/
    function add_div_food(left, top, div_id, height, width) { // параметры: in_x
        var elem = document.getElementById('first');
        var div = document.createElement('div');
        div.className = "div_2_1";
        div.id = div_id
        elem.parentNode.appendChild(div, elem);
        var in_x_t = left + 'px';
        var in_y_t = top + 'px';
        div.style.left = in_x_t;
        div.style.top = in_y_t;
        div.style.height = height + 'px';
        div.style.width = width + 'px';
    }
    function add_food(left, top, height, width) { // параметры: in_x
        let food_obj = {
            x: 0,
            y: 0,
            div_id: 'food_' + top + '_' + left,
            h: 10,
            w: 10
        };
        food_obj.x = left;
        food_obj.y = top;
        food_obj.h = height;
        food_obj.w = width;
        food_obj.div_id = 'food_' + top + '_' + left;
        var json = JSON.stringify(food_obj);
        $.ajax({
            url: "/add_food/",
            dataType: 'json',
            //contentType: "application/json; charset=utf-8",
            type: "POST",    
            data: {
                food: json,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                add_div_food(food_obj.x, food_obj.y, food_obj.div_id, food_obj.h, food_obj.w)
            },
            error: function() {
                alert("error");
            }    
        }); 
    }
    function addFoodsByClick(event) {
        dfg = event.target
        if (event.target.closest('.div_1')) {
            x = event.offsetX;
            y = event.offsetY;
            add_food(x, y, 5, 5);
        };
    };
    document.addEventListener('click', addFoodsByClick);
    $.ajax({
    	url: '/get_foods/',
    	dataType: 'json',
    	success: function(data){
            data.forEach((food) => {
                add_div_food(food.left, food.top, food.div_id, food.height, food.width)
            })
        }
    });
    /********  события кнопок добавления/удаления еды  ****/
    $('.bt_add').click(function () {
        var food = document.getElementById('first')
        var in_x = document.getElementsByClassName('in_x')[0].value;
        var in_y = document.getElementsByClassName('in_y')[0].value;
        if (in_x == "") { in_x = 0 } else { in_x = parseInt(in_x) };
        if (in_y == "") { in_y = 0 } else { in_y = parseInt(in_y) };
        add_food(in_x,in_y,10,10)
    });
    $('.bt_del').click(function () {
        $.ajax({
            url: '/del_food/',
            dataType: 'json',
            success: function(data){
                if (data.isNull) {}
                else {
                    div_id = data.div_id;
                    document.getElementById(div_id).remove();
                }
            }
        });
        //if (document.getElementById('first').parentNode.children.length > 1) {
        //    document.getElementById('first').parentNode.lastElementChild.remove();
        //}
    });

</script>
</html>